span{
    font-size: 18px;
}

@media screen and (min-width: 300px) and (max-width: 600px) { 
    .gggg{
        height: 50vh;
    }
    h6{
        
        font-size: 9px;
    }
    h5{
        font-size: 11px;
    }
    small {
        font-size: 9px;
    }
    span{
        font-size: 13px;
    }

}