@media screen and (min-width: 300px) and (max-width: 600px) { 
    .gg{
        height: 35vh;
    }
    h3{
        
        font-size: 22px;
    }
    p{
        font-size: 11px;
    }
    .bimg{
        display: none;
    }
}